

<div style="margin: 20px 20px; text-align: center;">
    <h3>News and Upcoming Events Entry</h3>
    <input type="text" placeholder="Title" style="width: 550px; margin-bottom: 5px;" #title><br>
    <textarea style="width: 550px;" placeholder="Content" rows="4" #content></textarea><br>
    <input type="text" placeholder="Link" style="width: 550px; margin-bottom: 5px;" #link><br>
    <input type="text" placeholder="Link Text" style="width: 550px;" #linktext><br><br>
    <button *ngIf="!isUpdate" (click) = "addNewsAndEvents(title,content,link,linktext)">Add</button> &nbsp;
    <button *ngIf="isUpdate" (click) = "updateNewsAndEvents(title,content,link,linktext)">Update</button> &nbsp;
    <button (click) = "clearData(title,content,link,linktext)">Clear</button>

</div>

<div class="card" style="margin-left: 30px; margin-right: 30px; margin-bottom: 5px;">
    <h4 class="card-header">News and Upcoming Events</h4>
    <div class="card-body">
        <div *ngFor="let item of pageOfItems">
            {{item.title}} {{item.content}}
            <a href="{{item.link}}">{{item.linktext}}</a> &nbsp;
            <i (click)="editNews(item,title,content,link,linktext)" class="fa fa-pencil" style="cursor: pointer;"></i> &nbsp;
            <i (click)="deleteNews(item.$key)" class="fa fa-trash" style="cursor: pointer;"></i>
            <hr>
        </div>
    </div>
    <div class="card-footer pb-0 pt-3 pr-1">
        <jw-pagination [items]="items" (changePage)="onChangePage($event)" [pageSize]=5 [maxPages]=3></jw-pagination>
    </div>
</div>
<br>