<div class="container" style="margin-top: 15px;">
<h1>{{drProgram.courseName}}</h1>
<b class="font-color">Course Name:</b> {{drProgram.courseName}}
<br>
<br>
<b class="font-color">Programme:</b> {{drProgram.programme}}
<br>
<br>
<b class="font-color">Credits (L-T-P):</b> {{drProgram.credits}}
<br>
<br>
<b class="font-color">Content:</b>
<p>{{drProgram.content}}</p>
<br>
<br>
<b class="font-color">References:</b>
<p>{{drProgram.ref}}</p>
<br>
<br>
<b class="font-color">Department:</b> {{drProgram.dept}}
</div>

