<div class="container" style="margin-top: 15px;">
  <h1>{{ugProgram.courseName}}</h1>
  <b class="font-color">Course Name:</b> {{ugProgram.courseName}}
  <br>
  <br>
  <b class="font-color">Programme:</b> {{ugProgram.programme}}
  <br>
  <br>
  <b class="font-color">Semester:</b> {{ugProgram.sem}}
  <br>
  <br>
  <b class="font-color">Category:</b> {{ugProgram.category}}
  <br>
  <br>
  <b class="font-color">Credits (L-T-P):</b> {{ugProgram.credits}}
  <br>
  <br>
  <b class="font-color">Content:</b>
  <p>{{ugProgram.content}}</p>
  <br>
  <br>
  <b class="font-color">References:</b>
  <p>{{ugProgram.ref}}</p>
  <br>
  <br>
  <b class="font-color">Department:</b> {{ugProgram.dept}}
  </div>

