<div class="container">
<br>
    <form [formGroup]='researchform' (ngSubmit)="onSubmit()">
      <div class="form-group">
        <h2>Research Form</h2>
        <label for="type">Type</label>&nbsp;&nbsp;
        <select class="form-control" formControlName='type' (change)="onChange($event)">
          <option *ngFor="let item of types" value="{{item}}">{{item}}</option>
        </select>
      </div>

      <ng-container *ngIf="typeValue === 'Consultancy'">
        <div class="form-group">
            <label for="consultancy">Title of Consultancy: </label>
            <input type="text" formControlName="consultancy" class="form-control">
          </div>
          <div class="form-group">
            <label for="guide">Name of the Guide/ Investigator: </label>
            <input type="text" formControlName="guide" class="form-control">
          </div>
          <div class="form-group">
            <label for="agency">Funding Agency: </label>
            <input type="text" formControlName="agency" class="form-control">

          </div>
          <div class="form-group">
            <label for="namestudent">Name of the Student involved: </label>
            <input type="text" formControlName="namestudent" class="form-control">
          </div>
          <div class="form-group">
            <label for="status">Status/ Amt.: </label>
            <input type="text" formControlName="status" class="form-control">
          </div>
          <div class="form-group">
            <label for="year">Year: </label>
            <input type="text" formControlName="year" class="form-control">
          </div>
      </ng-container>
      <ng-container *ngIf="typeValue === 'Research'">
        <div class="form-group">
            <textarea class="form-control" rows="4" formControlName="content" placeholder="Content" ></textarea>
          </div>
      </ng-container>




      <button type="submit" mat-raised-button color="primary" [ngClass]="{'disabled':!researchform.valid}"
        [disabled]="!researchform.valid">Submit</button> &nbsp;
        <a [routerLink]="['/data-entry']" mat-raised-button color="warn">
          Cancel
      </a>
    </form>
  </div>
