<div class="container" style="margin-top: 15px;">
  <h1>{{pgProgram.courseName}}</h1>
  <b class="font-color">Course Name:</b> {{pgProgram.courseName}}
  <br>
  <br>
  <b class="font-color">Programme:</b> {{pgProgram.programme}}
  <br>
  <br>
  <b class="font-color">Semester:</b> {{pgProgram.sem}}
  <br>
  <br>
  <b class="font-color">Category:</b> {{pgProgram.category}}
  <br>
  <br>
  <b class="font-color">Credits (L-T-P):</b> {{pgProgram.credits}}
  <br>
  <br>
  <b class="font-color">Content:</b>
  <p>{{pgProgram.content}}</p>
  <br>
  <br>
  <b class="font-color">References:</b>
  <p>{{pgProgram.ref}}</p>
  <br>
  <br>
  <b class="font-color">Department:</b> {{pgProgram.dept}}
  </div>

