<div class="container-fluid">
  <div class="row" style="margin: 20px 20px 20px 20px;">
    <div class="col-6 text-center">
      <div>
        <h3>Achievement Entry</h3>
        <form [formGroup]='achievementForm'>
          <div class="form-group">
            <select formControlName='type' class="form-control" #select>
              <option value="" disabled selected>Select type of Achievement</option>
              <option *ngFor="let item of types" value="{{item}}">{{item}}</option>
            </select>
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="4" formControlName="content" placeholder="Content" #content></textarea>
          </div>
          <button type="submit" mat-raised-button color="primary" *ngIf="!isUpdate" (click)="onSubmit()"
            [ngClass]="{'disabled':!achievementForm.valid}" [disabled]="!achievementForm.valid">Submit</button> &nbsp;

          <button mat-raised-button color="primary" *ngIf="isUpdate"
            (click)="updateAchieve(content,select)">Update</button> &nbsp;
          <button mat-raised-button color="warn" (click)="clearData()">Clear</button> &nbsp;
          <!-- <a [routerLink]="['/data-entry']" class="btn btn-primary">
              Cancel
            </a> -->
        </form>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <h4 class="card-header">Achievements</h4>
        <div class="card-body">
          <div *ngFor="let item of pageOfItems">
            <b> {{item.type}} Achievement:</b> {{item.content}}
            <i (click)="editAchieve(item,content,select)" class="fa fa-pencil" style="cursor: pointer;"
              title="Edit"></i> &nbsp;
            <i (click)="deleteAchieve(item.$key)" class="fa fa-trash" style="cursor: pointer;" title="Delete"></i>
            <hr>
          </div>
        </div>
        <div class="card-footer pb-0 pt-3 pr-1">
          <jw-pagination [items]="achievArr" (changePage)="onChangePage($event)" [pageSize]=5 [maxPages]=3>
          </jw-pagination>
      </div>
      </div>

    </div>

  </div>
</div>